BasedOnStyle: "InheritParentConfig"

IncludeCategories:
  # NOTE: A header is grouped by first matching regex library headers.
  # NOTE: clang-format retains leading white-space on a line in violation of the YAML spec.
  # Project library headers
  - Regex: "^<clp_ffi_go"
    Priority: 3
  # External library headers. Update when adding new libraries.
  - Regex: "^<(clp|msgpack|nlohmann|outcome|ystdlib)"
    Priority: 4
  # C system headers
  - Regex: "^<.+\\.h>"
    Priority: 1
  # C++ standard libraries
  - Regex: "^<.+>"
    Priority: 2
  # Project relative headers
  - Regex: "^\".+\""
    Priority: 5
