---
Checks: >-
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  cert-*,
  clang-analyzer-*,
  clang-diagnostic-*,
  concurrency-*,
  cppcoreguidelines-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -readability-identifier-length,
  -readability-named-parameter,
  -readability-simplify-boolean-expr,

WarningsAsErrors: '*'
FormatStyle: file
CheckOptions:
  misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic: true
  readability-identifier-naming.ClassCase: 'CamelCase'
  readability-identifier-naming.ClassMemberCase: 'lower_case'
  readability-identifier-naming.ClassMemberPrefix: 'm_'
  readability-identifier-naming.ClassMethodCase: 'lower_case'
  readability-identifier-naming.ConstexprVariableCase: 'CamelCase'
  readability-identifier-naming.ConstexprVariablePrefix: 'c'
  readability-identifier-naming.EnumCase: 'CamelCase'
  readability-identifier-naming.EnumConstantCase: 'CamelCase'
  readability-identifier-naming.GlobalConstantCase: 'CamelCase'
  readability-identifier-naming.GlobalConstantPrefix: 'c'
  readability-identifier-naming.GlobalFunctionCase: 'lower_case'
  readability-identifier-naming.GlobalVariableCase: 'lower_case'
  readability-identifier-naming.LocalVariableCase: 'lower_case'
  readability-identifier-naming.MemberCase: 'lower_case'
  readability-identifier-naming.MemberPrefix: 'm_'
  readability-identifier-naming.MethodCase: 'lower_case'
  readability-identifier-naming.ParameterCase: 'lower_case'
  readability-identifier-naming.StructCase: 'CamelCase'
  readability-identifier-naming.TypedefCase: 'CamelCase'
  readability-identifier-naming.TypedefIgnoredRegexp: '[a-z_]+_t'
  readability-identifier-naming.UnionCase: 'CamelCase'
